@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poiret One", cursive;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f1efef;
  overflow-x: hidden;
}

@media (min-width: 800px) {
  ::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    width: 10px;
    background: linear-gradient(141deg, #49424a 13%, #949494 40%);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(238deg, #000000 12%, #787878 59%);
  }

  ::-webkit-scrollbar-track {
    background-color: #f1efef;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}
.landing {
  height: 100vh;
  background-image: url(./src/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  overflow: hidden;
}
.landing .header {
  height: 10vh;
  display: flex;
  align-items: center;
}
.landing .header .logo {
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  left: 1%;
  width: 60px;
  height: 62px;
  background-image: url(./src/logo.png);
  transform: scale(0.8);
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
.landing .header .logo:hover {
  filter: grayscale(100%) brightness(72%) contrast(689%);
  transition: 0.3s ease-in-out;
}
.landing .header .logo a {
  text-decoration: none;
  display: block;
  padding: 32px;
}

@media (max-width: 800px) {
  .landing .header {
    background: #00000060;
    height: 10vh;
  }
  .landing .header .logo {
    z-index: 3;
  }
  .landing .header .nav {
    width: 100vw;
    height: 9vh;
    display: grid;
    place-items: center;
  }
  .landing .header .nav .menu {
    z-index: 10;
    position: fixed;
    right: 20px;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: black;
    box-shadow: 2px 2px 6px #000, -2px -2px 6px #ffffff80;
    cursor: pointer;
  }
  .landing .header .nav .menu:active {
    box-shadow: inset 2px 2px 6px #000, inset -2px -2px 6px #ffffff80;
  }
  .landing .header .nav .menu i {
    transform: scale(1.5);
  }
  .landing .header .nav .item {
    -webkit-tap-highlight-color: transparent;
    display: none;
    padding: 12px 10px;
    margin: 15px;
    margin-bottom: 3%;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    background: transparent;
    color: white;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    box-shadow: 2px 2px 4px #000, -2px -2px 4px #ffffff5b;
  }
  .landing .title {
    background: #00000060;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .landing .title h1 {
    text-align: center;
    margin-top: -15%;
    margin-bottom: 2%;
    font-size: 80px;
    font-weight: bolder;
  }
  .landing .title h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10%;
  }
  .landing .title p {
    font-size: 19px;
    width: 70%;
    text-align: center;
  }
}
@media (min-width: 801px) {
  .nav {
    margin-left: 50%;
    padding: 10px 12px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav .menu {
    -webkit-tap-highlight-color: transparent;
    display: none;
  }
  .nav .item {
    padding: 10px 12px;
    color: #cecece;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
  }
  .nav .item:hover {
    color: white;
    background: transparent;
    transition: 0.3s ease-in-out;
    box-shadow: 2px 2px 6px #000000, -2px -2px 6px #ffffff6a;
  }

  .title {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .title h1 {
    text-align: center;
    font-size: 144px;
    font-weight: bolder;
    margin-top: -5%;
  }
  .title h2 {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
  }
  .title p {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    margin-top: 3%;
    width: 32%;
    text-align: center;
  }
}
@media (min-width: 800px) and (max-width: 1100px) {
  .landing .title h1 {
    font-size: 120px;
  }
  .landing .nav {
    margin-left: 20%;
    width: 80%;
  }
  .landing .nav .item {
    margin-right: 10px;
  }
}
@media (max-width: 600px) {
  .landing .title h1 {
    text-align: center;
    margin-top: -15%;
    margin-bottom: 2%;
    font-size: 60px;
    font-weight: bolder;
  }
  .landing .title h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10%;
  }
  .landing .title p {
    font-size: 17px;
    width: 70%;
    text-align: center;
  }
}
.about {
  height: 100vh;
  background: #f1efef;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.about .grey,
.about .light {
  display: none;
}
.about .about-content {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about-content .title {
  width: 50vw;
  height: 80vh;
  margin-top: 80px;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about-content .title h1 {
  font-size: 60px;
  letter-spacing: 5px;
  font-weight: bold;
}
.about .about-content .title p {
  color: #3d3d3d;
  margin-top: 50px;
  width: 80%;
}
.about .about-content .image {
  width: 50vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -3rem;
}
.about .about-content .image img {
  width: 60%;
  border-radius: 30px;
}

@media (max-width: 1120px) {
  .about .about-content .title h1 {
    font-size: 50px;
  }
  .about .about-content .image {
    width: 45vw;
    height: 70vh;
    margin-left: 0px;
  }
  .about .about-content .image img {
    width: 90%;
  }
}
@media (min-width: 530px) and (max-width: 800px) {
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about .about-content {
    overflow: hidden;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 85vh;
  }
  .about .about-content .title {
    flex-direction: column;
    width: 80vw;
    margin-left: 0;
  }
  .about .about-content .title h1 {
    font-size: 3rem;
    margin-top: -2%;
  }
  .about .about-content .title p {
    margin-top: 0%;
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
  }
  .about .about-content .image {
    width: 60vw;
    height: 80vh;
    margin-left: 0px;
    margin-bottom: -10%;
    margin-top: 2%;
  }
  .about .about-content .image img {
    width: 95%;
  }
}
@media (max-width: 530px) {
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about .about-content {
    overflow: hidden;
    flex-direction: column-reverse;
    width: 85vw;
    height: 85vh;
  }
  .about .about-content .title {
    margin: 0;
    flex-direction: column;
    height: 60vh;
  }
  .about .about-content .title h1 {
    text-align: center;
    font-size: 45px;
  }
  .about .about-content .title p {
    margin: 0;
    margin-top: -1%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    width: 300px;
  }
  .about .about-content .image {
    margin: 0;
    width: 100%;
    height: 40vh;
    margin-bottom: 1%;
  }
  .about .about-content .image img {
    width: 80%;
    border-radius: 5px;
  }
}
.gathering {
  height: 100vh;
  background: #f1efef;
  overflow: hidden;
}
.gathering .grey,
.gathering .light {
  display: none;
}
.gathering .content {
  height: 50vh;
  margin-bottom: -3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gathering .content h1 {
  font-size: 60px;
  letter-spacing: 2px;
  font-weight: bold;
}
.gathering .content p {
  color: #3d3d3d;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 0.5px;
  margin-top: 2%;
  width: 50%;
  text-align: center;
}
.gathering .images {
  height: 35vh;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.gathering .images img {
  z-index: 10;
  border-radius: 10px;
  transition: 0.5s ease;
}
.gathering .images .g_image {
  position: absolute;
  transform: scale(4) translateY(-20%);
  border-radius: 5px;
}

@media (min-width: 800px) and (max-width: 1350px) {
  .gathering .content {
    margin-bottom: -6%;
  }
  .gathering .images img {
    width: 22%;
  }
}
@media (max-width: 800px) {
  .gathering {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .gathering .content {
    margin-top: 5%;
    height: 40vh;
    transition: 0.5s ease;
  }
  .gathering .content h1 {
    width: 70%;
    text-align: center;
    font-size: 45px;
    letter-spacing: 1px;
    font-weight: bold;
  }
  .gathering .content p {
    width: 70%;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: center;
  }
  .gathering .images {
    margin-top: -3%;
    margin-bottom: 4%;
    height: 45vh;
    width: 80%;
    flex-wrap: wrap;
  }
  .gathering .images img {
    width: 120px;
    height: 120px;
    transition: 0.5s ease;
  }
  .gathering .images .g_image {
    position: absolute;
    transform: scale(4) translateY(-20%);
  }
  .gathering a {
    margin-top: -2%;
  }
}
@media (max-width: 500px) {
  .gathering .images .g_image {
    transform: scale(2.5) translateY(-50%);
  }
}
.past {
  height: 100vh;
  background: #f1efef;
  overflow: hidden;
}
.past .light {
  display: none;
}
.past .content {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.past .content h1 {
  font-size: 60px;
  letter-spacing: 2px;
  font-weight: bold;
}
.past .content p {
  color: #3d3d3d;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 0.5px;
  margin-top: 3%;
  width: 50%;
  text-align: center;
}
.past .images {
  height: 45vh;
  margin-top: -3%;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.past .images img {
  border-radius: 10px;
}
.past .images h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 50px;
  font-size: 30px;
  letter-spacing: 1.1px;
  color: #474747;
}

@media (min-width: 800px) and (max-width: 1350px) {
  .past .content {
    margin-bottom: -6%;
  }
  .past .images {
    margin-left: 2%;
  }
  .past .images .image img {
    width: 95%;
  }
}
@media (max-width: 800px) {
  .past {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .past .content {
    height: 30vh;
  }
  .past .content h1 {
    width: 70%;
    text-align: center;
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: bold;
  }
  .past .images {
    margin-top: -5%;
    margin-bottom: 5%;
    height: 55vh;
    width: 80%;
    flex-wrap: wrap;
  }
  .past .images img {
    width: 120px;
    height: 120px;
  }
  .past .images h3 {
    margin-top: -1%;
    height: 50px;
    font-size: 20px;
    letter-spacing: 0.5px;
  }
}
.oasis {
  height: 100vh;
  background: #f1efef;
  overflow: hidden;
}
.oasis .grey {
  display: none;
}
.oasis .content {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.oasis .content h1 {
  font-size: 60px;
  letter-spacing: 2px;
  font-weight: bold;
}
.oasis .content p {
  width: 70%;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 0.5px;
  margin-top: 2%;
  width: 50%;
  text-align: center;
}
.oasis .images {
  height: 45vh;
  margin-top: -3%;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.oasis .images img {
  border-radius: 10px;
}
.oasis .images h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 50px;
  font-size: 30px;
  letter-spacing: 1.1px;
  color: #474747;
}

@media (min-width: 800px) and (max-width: 1350px) {
  .oasis .content {
    margin-bottom: -6%;
  }
  .oasis .images {
    margin-left: 2%;
  }
  .oasis .images .image img {
    width: 95%;
  }
}
@media (max-width: 800px) {
  .oasis {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .oasis .content {
    height: 30vh;
  }
  .oasis .content h1 {
    text-align: center;
    font-size: 55px;
    letter-spacing: 1px;
    font-weight: bold;
  }
  .oasis .images {
    margin-top: -5%;
    margin-bottom: 5%;
    height: 55vh;
    width: 80%;
    flex-wrap: wrap;
  }
  .oasis .images img {
    width: 120px;
    height: 120px;
  }
  .oasis .images h3 {
    margin-top: -1%;
    height: 50px;
    font-size: 20px;
    letter-spacing: 0.5px;
  }
}
.team {
  min-height: 100vh;
  background: #f1efef;
  overflow: hidden;
}
.team .shootStar,
.team .light {
  display: none;
}
.team .team-maindiv {
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team .team-maindiv p {
  font-weight: 600;
  margin-top: 3%;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

.team-img-cont {
  margin-bottom: 3%;
}

.team-img {
  transform: scale(1.4) translateY(-3%);
  height: 6rem;
  border-radius: 50%;
  z-index: 5;
}

@media (max-width: 570px) {
  .team-img {
    transform: scale(1.5);
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .team-img-cont {
    margin-bottom: initial;
  }

  .team-maindiv p {
    font-size: 1.1rem;
    margin-bottom: 5%;
  }
}
#team-title {
  text-align: center;
  font-weight: bolder;
  z-index: 5;
}

#dteam {
  font-family: "Poiret One", cursive;
  font-size: 4rem;
}

.subrows {
  margin-top: 3rem;
}

.team-no-1 {
  margin-left: 2rem;
}

.team-no-2 {
  margin-right: 2rem;
}

#footer {
  background: #3d3d3d;
  color: #f1efef;
  padding-top: 4rem;
  padding-bottom: 1rem;
  width: 100vw;
  /*position: absolute;
  bottom: 0px;*/
}

#footer > p {
  text-align: center;
  font-weight: 500;
  font-size: 1.3rem;
}

#contact {
  font-weight: 500;
}

#footer .glass-btn {
  font-size: 22px;
  width: 180px;
  height: 60px;
  border-radius: 50px;
  color: #f1efef;
  box-shadow: 2px 2px 4px #000000a0, -2px -2px 4px #ffffff5b;
  color: #9c9c9c;
  transition: 0.5s ease;
}
#footer .glass-btn:hover {
  color: #fff;
}
#footer .glass-btn:active {
  box-shadow: inset 3px 3px 7px #000000a0, inset -3px -3px 7px #fff;
}

@media (max-width: 800px) and (min-width: 576px) {
  #dteam {
    font-size: 3.3rem;
  }

  #footer {
    min-height: 60vh;
  }
}
@media (max-width: 575px) {
  .team-maindiv {
    position: relative;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-fluid {
    background: #f1efef;
    margin-top: -10%;
    padding-top: 80px;
  }

  .row {
    justify-content: center;
    align-items: center;
  }

  #team-title {
    position: absolute;
    top: 0;
    text-align: center;
  }

  #dteam {
    margin-top: -15%;
    font-size: 3.5rem;
    z-index: 50;
  }

  .team {
    background: linear-gradient(to bottom, #f1efef 0% 60%, #3d3d3d 60% 10%);
  }
}
@media (max-width: 517px) {
  #footer > p {
    font-size: 1.2rem;
  }
}
@media (max-width: 500px) {
  #contact {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    justify-content: center;
    text-align: center;
  }

  #btn-div {
    margin-top: 1.5rem;
  }

  .team-no-1 {
    margin-left: 0rem;
  }

  .team-no-2 {
    margin-right: 0rem;
  }
}
.glass-btn {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: #353535;
  margin: auto;
  width: 200px;
  height: 70px;
  font-size: 27px;
  font-weight: bold;
  border-radius: 50px;
  box-shadow: 5px 5px 10px #000000a0, -5px -5px 10px #fff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s ease;
}
.glass-btn:hover {
  color: black;
}

.glass-btn:active {
  box-shadow: inset 5px 5px 10px #000000a0, inset -5px -5px 10px #fff;
}

.amen {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  position: fixed;
  bottom: 8%;
  right: 20px;
  font-size: 18px;
  font-weight: bolder;
  color: #303030;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 50%;
  z-index: 10;
  width: 60px;
  height: 60px;
  box-shadow: 3px 3px 7px #000000a0, -1px -1px 2px #ffffff5b;
}
.amen:active {
  box-shadow: inset 3px 3px 7px #000000a0, inset -1px -1px 2px #ffffff5b;
}
.amen i {
  transform: scale(1.6);
}

@media (min-width: 600px) and (max-width: 800px) {
  .glass-btn {
    margin-top: -8%;
  }
}
@media (max-width: 800px) {
  .glass-btn {
    height: 60px;
    width: 200px;
    border-radius: 50px;
    box-shadow: 3px 3px 7px #000000a0, -3px -3px 7px #fff;
  }

  .glass-btn:active {
    box-shadow: inset 3px 3px 7px #000000a0, inset -3px -3px 7px #fff;
  }

  .amen {
    display: none;
  }
}
@media (max-width: 600px) {
  .glass-btn {
    margin-top: -5%;
    width: 180px;
    font-size: 24px;
  }
}
@media (min-width: 1250px) {
  .about .light {
    position: absolute;
    display: block;
    transform: translate(8vw, 33vh);
  }
  .about .light object {
    transform: scale(0.8);
  }
  .about .grey {
    position: absolute;
    display: block;
    transform: translate(85vw, -35vh);
  }
  .about .grey object {
    transform: scale(0.9);
  }

  .gathering {
    overflow: hidden;
  }
  .gathering .content {
    z-index: 2;
  }
  .gathering .light {
    display: block;
    position: absolute;
    transform: translate(75vw, 5vh);
    z-index: 1;
  }
  .gathering .light object {
    transform: scale(1);
  }
  .gathering .grey {
    transform: translate(3vw, 60vh);
    position: absolute;
    display: block;
    z-index: 0;
  }
  .gathering .grey object {
    transform: scale(0.9);
  }

  .past .light {
    display: block;
    position: absolute;
    transform: translate(0vw, 60vh);
  }
  .past .light object {
    transform: scale(0.9);
  }

  .oasis .grey {
    display: block;
    position: absolute;
    transform: translate(87vw, 25vh);
    z-index: 0;
  }

  .team .shootStar {
    display: block;
    position: absolute;
    transform: translate(34vw, 15vh);
  }
  .team .shootStar object {
    transform: scale(0.7);
  }
  .team .light {
    display: block;
    position: absolute;
    transform: translate(82vw, 50vh);
  }
  .team .light object {
    transform: scale(0.5);
  }
}
body.modal-open {
  overflow-y: inherit;
}

/*# sourceMappingURL=style.css.map */
